button.slideButton,button.slideButton *{
 margin: 0;
 padding: 0;
}
button.slideButton {
 /*SIZE TRACK*/
 --height-button: 48px;
 --width-button: calc(var(--height-button) * 3);
 --shadow-button: -1px -1px 5px #00000040 inset;
 
 /*SIZE SLIDER*/
 --width-slider: var(--height-button);
 --height-slider: var(--height-button);
 --margin-slider: 5px;
 --off-position: var(--margin-slider);
 --on-position: 100%;
 --speed-slider: 0.5s;
 --shadow-slider: -2px 0px 5px #00000040 inset;

 /*PALLETE*/
 --color-inactive: #efefef;
 --color-readonly: #e5e5e5;
 --color-active: #11ce63;
 --color-slider: #FFFFFF;
 /*--------------*/

 width: var(--width-button);
 height: var(--height-button);

 border:none;
 border-radius: var(--width-slider);
 box-shadow: var(--shadow-button);

 position:relative;
 cursor:pointer;
 
 transition:background-color 0.5s ease;


 .slider{
  width: calc(var(--height-button) - var(--margin-slider));
  height: calc(var(--height-button) - var(--margin-slider));

  background-color: var(--color-slider);
  
  border-radius: var(--height-button);
  box-shadow: var(--shadow-slider);
  
  position:absolute;
  left: var(--margin-slider);
  bottom: calc(var(--margin-slider) / 2);

  transition:left var(--speed-slider) ease;
 }
 .slider.on{
  left: calc(var(--on-position) - var(--width-slider));
 }
 .slider.off {  
  left: var(--off-position);  
 }

}
button.slideButton.on{
 background-color:var(--color-active);
}
button.slideButton.off{
 background-color:var(--color-inactive);
}
button.slideButton.readonly,.slider.readonly{
 background-color:var(--color-readonly) !important;
}